@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply uppercase sm:text-5xl text-4xl text-deepGreen leading-8 font-extrabold text-center font-serif;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 3px 0 #000;
  }

  @media (min-width: 640px) {
    h1 {
      text-shadow:
        -1.5px -1.5px 0 #000,
        1.5px -1.5px 0 #000,
        -1.5px 1.5px 0 #000,
        1.5px 5x 0 #000;
    }
  }
  h2 {
    @apply font-extrabold text-xl font-sans uppercase leading-3;
  }
  h3 {
    @apply font-semibold text-lg font-sans; 
  }
  p {
    @apply font-sans text-lg leading-6 mt-2; 
  }
  html {
    @apply text-[#0b1734] scroll-smooth;
  }
}

.leaflet-container {
  @apply w-full h-96 -z-0 border-2 border-darkBlue rounded-lg;
}

.vertical {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
