@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply uppercase text-5xl leading-10 font-extrabold text-center font-serif text-white;
    text-shadow:
      -2px -2px 0 #000,  
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000;
  }
  h2 {
    @apply font-medium font-mono uppercase leading-4;
  }
  h3 {
    @apply font-semibold text-lg font-sans; 
  }
  p {
    @apply font-sans text-lg leading-6 my-2; 
  }
  html {
    @apply text-[#0b1734] scroll-smooth;
  }
}

.leaflet-container {
  @apply w-full h-96 -z-0 border-2 border-darkBlue rounded-lg;
}

.vertical {
  transform: rotate(180deg);
  writing-mode: vertical-rl;
}
